<div class="cards">
  <% @flats.each do |flat| %>
    <div class="card-item">
      <% if flat.photo.attached? %>
        <%= link_to image_tag(flat.photo), flat_path(flat) %><br>
      <% end %>
      <strong><%= flat.name %></strong><br>
      <%= flat.address %> <br>
      <strong><%= flat.price_per_night %> gold per night</strong><br>
    </div>
  <% end %>
</div>
