<% homepage_background = HomepageBackground.first %>

<div class="landing-page-background"
  <% if homepage_background&.photo.attached? %>
    style="background-image: url('<%= homepage_background.photo.url %>')"
  <% end %>
>
  <%= link_to 'View All Flats', flats_path, class: 'btn-custom-green' %>
</div>
