

<div class="landing-page-background"
  style="background-image: url('<%= cl_image_path("landingpage_abmmfc") %>')"
  >


  <!-- Link to the flats index page with custom button styling -->
  <%= link_to 'View All Flats', flats_path, class: 'btn-custom-green' %>
</div>
