.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 30px 73px 50px 73px; /* Top: 30px, Bottom: 50px, Left and Right: 0px */
  top: 0;
  z-index: 1000; /* Ensures it stays above other elements */
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  border-radius: 5px;
}

.navbar-lewagon .navbar-brand-big img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
  border: 2px solid black;
  object-fit: cover; /* Maintains aspect ratio and avoids distortion */
}
